
<h1>Welcome, <%= @user.email %>!</h1>

<h4><%= link_to "Log Out", "/logout", method: :delete %></h4>

<h2><%= button_to "Discover Movies", '/discover', method: :get %></h2>

<section id="search_friend">
  <%= form_with url: '/friends', method: :post, local: true do |f| %>
    <%= f.label "Search Friend:" %>
    <%= f.text_field :email %>
    <%= f.submit "Add Friend" %>
  <% end %>
</section>

<div id="friends list">
  <h3>Friends List</h3>
  <% if @user.friends.empty? %>
    <p>No friends have been added to your list</p>
  <% else %>
    <% @user.friends.each do |friend| %>
      <div><%= friend.email %></div><br/>
    <% end %>
  <% end %>
</div>

<h2>Viewing Parties</h2>
<% if @user.parties.empty? %>
  <p>You currently have no parties.</p>
<% elsif @user.invitations.status == 0 %>
 <section id="hosted">
  <% @user.parties.each do |party| %>
    <div><%= party.title%></div><br/>
    <div><%= party.duration %></div><br/>
    <div><%= party.date %></div><br/>
    <div><%= party.time %></div><br/>
    <% get friends who are invited %>
    </section>
  <% end %>
<% elsif @user.invitations.status == 1 %>
 <section id="invited">
  <% @user.parties.each do |party| %>
    <div><%= party.title%></div><br/>
    <div><%= party.duration %></div><br/>
    <div><%= party.date %></div><br/>
    <div><%= party.time %></div><br/>
    <% get friend who is hosting %>
    <% get friends who are attending %>
    </section>
  <% end %>
<% end %>
