
<h1>Welcome, <%= @user.email %>!</h1>

<h4><%= link_to "Log Out", "/logout", method: :delete %></h4>

<h2><%= link_to "Discover Movies", '/movies' %></h2>

<%= form_with url: "/friends", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Add Friend", form: {style: 'display:inline-block;'} %>
<% end %>

# <% if params[:search] %>
  # <% @friends_search.each do |friend| %>
    # <div><%= friend.email %></div><br/>
  # <% end %>
# <% end %>

<h2>Viewing Parties</h2>
